<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="dashboard.css">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="dashboard-title">Dashboard</h1>
      <p class="date">1 June 2023</p>
      <img src="placeholder.jpg" alt="Dashboard Logo" class="logo">
    </div>
  </header>

  <section class="main-content">
    <div class="left-panel">
     <div class="analytics">
      <p>Dashboard</p>
     </div>
     <div class="analytics">
      <p>AI Driven Analytics</p>
     </div>
     <div class="analytics">
      <p>Orders</p>
     </div>
   
      <div class="analytics">
          <p>Products</p>
      </div>
      
     <div class="analytics">
      <p>Profile</p>
     </div>
     
    </div>
    <div class="right-panel">
    
    </div>
  </section>
  <script src="dash.js"></script>
</body>
</html>
