<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="order.css">
</head>
<body>
    <form action="/order" method="post">
        <label for="name">Enter Name</label>
        <input type="text" name="name" id=""><br><br>

        <label for="price">Enter Price</label>
        <input type="text" name="price"><br>

        <button>Submit</button>
    </form>
</body>
</html>