<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="product.css">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="dashboard-title">Dashboard</h1>
      <p class="date">1 June 2023</p>
      <img src="placeholder.jpg" alt="Dashboard Logo" class="logo">
    </div>
  </header>

  <section class="main-content">
    <div class="left-panel">
      <a href="/dashboard">
     <div class="analytics">
      <p>Dashboard</p>
     </div></a>

     <div class="analytics">
      <p>AI Driven Analytics</p>
     </div>

     <a href="/order">
     <div class="analytics">
      <p>Orders</p>
     </div></a>

     <a href="/product">
      <div class="analytics">
          <p>Products</p>
      </div></a>

      <a href="/profile">
     <div class="analytics">
      <p>Profile</p>
     </div></a>

    </div>
    <div class="right-panel">
      <h1>Products</h1>
      <table >
        <tr class="top-row">
          <td>Product_id</td>
          <td>Image</td>
          <td>Product Name</td>
          <td>Seller</td>
          <td>Type</td>
          <td>Price</td>
          <td>Quantity</td>
          <td>Status</td>
          <td>Action</td>

        </tr>
        <tr>
          <td>#0001</td>
          <td><img src="img/candel stand.webp" alt="candle stand"></td>
          <td>Candle Stand</td>
          <td>Dummy_seller</td>
          <td>Decor</td>
          <td>Rs 129</td>
           <td>5 pcs</td>
           <td>Approved</td>
          <td class="button-container">
            <button class="status1">
               Edit
            </button>
            <button class="status2">
               Delete
            </button>

          </td>

        </tr>
        <tr>
          <td>#0002</td>
          <td><img src="img/fan.jpg" alt="fan"></td>
          <td>Fan</td>
          <td>Dummy_seller</td>
          <td>Utility</td>
          <td>Rs 1299</td>
           <td>8 pcs</td>
           <td>Approved</td>
          <td class="button-container">
            <button class="status1">
               Edit
            </button>
            <button class="status2">
               Delete
            </button>

          </td>

        </tr>
        <tr>
          <td>#0003</td>
          <td><img src="img/maggi.jpg" alt="maggi"></td>
          <td>maggi</td>
          <td>Dummy_seller</td>
          <td>food</td>
          <td>Rs 49</td>
           <td>15 pcs</td>
           <td>Approved</td>
          <td class="button-container">
            <button class="status1">
               Edit
            </button>
            <button class="status2">
               Delete
            </button>

          </td>

        </tr>
        <tr>
          <td>#0004</td>
          <td><img src="img/basket.webp" alt="combo basket"></td>
          <td>Combo basket</td>
          <td>Dummy_seller</td>
          <td>food</td>
          <td>Rs 556</td>
           <td>2 pcs</td>
           <td>Approved</td>
          <td class="button-container">
            <button class="status1">
               Edit
            </button>
            <button class="status2">
               Delete
            </button>

          </td>

        </tr>
        <tr>
          <td>#0005</td>
          <td><img src="img/ceiling fan.webp" alt="ceiling fan"></td>
          <td>ceiling fan</td>
          <td>Dummy_seller</td>
          <td>work</td>
          <td>Rs 5000</td>
           <td>1 </td>
           <td>Approved</td>
          <td class="button-container">
            <button class="status1">
               Edit
            </button>
            <button class="status2">
               Delete
            </button>

          </td>

        </tr>
      </table>
    </div>
  </section>
  <script src="dash.js"></script>
</body>
</html>