
* {
    margin: 0;
    padding: 0;
 
}

body {
    background-color: #efeeeb;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

header {
    height: 100px;
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid #ccc; 
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: auto; 
}

.dashboard-title {
    color: #001ec0;
    margin-right: auto; 
}

.date {
    margin-left: 20px; 
}

.main-content {
    display: flex;
    margin-top: 20px;
    padding: 0 20px;
}

.left-panel,
.right-panel {
    background-color: white;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ccc; 
   
}

.left-panel{
    width: 400px;
  
}
.right-panel{
    width: 900px;
}

.analytics{
    border: 1px solid black;
    height: 50px;
    width: auto;
  
    
}
.analytics p{
    text-align: center;
    margin-top: 10px;
}